package ${javaClass.packageName};

#foreach( $import in $javaClass.imports )
import ${import};
#end

// Generated on ${date} by ${system['user.name']}
#foreach ( $annotation in $javaClas.annotation)
    ${annotation}
#end
public class ${javaClass.name} {

#foreach( $field in $javaClass.fields )
    private ${field.type.simpleName} ${field.name};
#end

}